<% include /header %>

<div class="container">

<div class="row" style="margin: 100px">
  <div class="col-md-offset-2 col-md-8 text-center">
    <h3>#hackthecommute</h3>
    <h4>The Team</h4>
    <div class="col-md-3">
      <p>Adrienne</p>
      <p>Front End Dev</p>
    </div>
    <div class="col-md-3">
      <p>Allan</p>
      <p>PM</p>
    </div>
    <div class="col-md-3">
      <p>Andy</p>
      <p>Back End Dev</p>
    </div>
    <div class="col-md-3">
      <p>Darren</p>
      <p>Designer</p>
    </div>

  </div>
</div>

</div>
<% include /footer %>
