<% include /header %>

<div id="commute-menu">
  <div class="container-fluid">
    <p class="text-uppercase">Work Address: 1100 2nd Avenue #500, Seattle, WA 98101</p>
  </div>
</div>

<div class="container col-sm-6 commute-options">

  <div class="row commute-main">
    <h4 class="text-uppercase">Summary</h4>
    <p style="color: #337AB7";>45m commute</p>
    <br>
    <div class="">
      <span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-bicycle fa-stack-1x fa-inverse"></i></span>
      <h4 style="display: inline;">Bike</h4>
      <br><br>
      <p>Time: 20 min</p>
      <p>Cost: $25/day</p>
      <br>
      <p><strong>Neighborhoods:</strong> Downtown, Belltown, First Hill, Capitol Hill</p>
      <p><strong>Tips: </strong>Bike commuting is an inexpensive and efficient way to get from Points A to B, providing the spontaneity of the car without the worries about traffic, high gas prices, or expensive parking.</p>
    </div>
  </div>

  <div class="row commute-additional">
    <p class="text-uppercase text-center">Explore Additional Options</p>

    <div class="col-sm-4">
        <div class="text-center">
          <a href="/map/car"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-car fa-stack-1x fa-inverse"></i></span></a>
          <h4>Car</h4>
        </div>
        <p>Time: 30 min</p>
        <p>Cost: $1/day</p>
    </div>

    <div class="col-sm-4">
      <div class="text-center">
        <a href="/map/bus"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-bus fa-stack-1x fa-inverse"></i></span></a>
        <h4>Bus</h4>
      </div>
      <p>Time: 30 min</p>
      <p>Cost: $5/day</p>
    </div>

    <div class="col-sm-4">
      <div class="text-center">
        <a href="/map/walk"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-male fa-stack-1x fa-inverse"></i></span></a>
        <h4>Walk</h4>
      </div>
      <p>Time: 60 min</p>
      <p>Cost: $0</p>
    </div>
  </div>

</div>

<div class="container-fluid col-sm-6" id="commute-map">
<!--   <span id="logo-overlay" class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-car fa-stack-1x fa-inverse"></i></span>
 -->
  <div id="map-canvas" class="" style="background-color: grey; height: 100%;">
<!--   <span class="overlay-logo"><img src="logo-blue.png"></span>
 -->  </div>
</div>


<% include /footer %>
