<html>
<head>
  <title>Hackathon</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script src="/script.js"></script>
  <script type="text/javascript"
    src="//apicdn.walkscore.com/api/v1/traveltime/js?wsid=3950dacfe4b9f83564d394cab5e9fb88">
  </script>
</head>
<body>

  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Commute</a>
      <ol class="nav navbar-nav">
        <li class=""><a href="/map">Options</a></li>
      </ol>
    </div>
  </nav>
