<% include /header %>

<div class="video-wrapper">
  <video autoplay loop loop="loop" preload="auto" id="pretzel-video" class="video-playing">
    <source src="splash.mp4" type="video/mp4">
  </video>
  <div class="learn-more"></div>
</div>

<div class="intro-wrapper container">

<div class="col-sm-offset-3 col-sm-6 text-center">

  <div class="row">
      <img src="logo-blue.png">
      <h3>Where will you be working?</h3>
      <div class="form-group">
        <input type="text" class="form-control" name="text" placeholder="1100 2nd Avenue #500, Seattle, WA 98101">
      </div>
      <h3>How long are you willing to commute?</h3>
  </div>

  <div class="row">
    <button type="button" class="btn btn-primary">30 min</button>
    <button type="button" class="btn btn-primary">45 min</button>
    <button type="button" class="btn btn-primary">60 min</button>
  </div>

</div>

</div>

<% include /footer %>
