<html>
<head>
    <title>Hackathon</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="/script.js"></script>
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <ol class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
        </ol>
    </div>
</nav>
<div class="container">

<div class="row">
    <div class="col-md-6 center-block">
        <h1>What's Up</h1>
    </div>

</div>

</div>

</body>
</html>
