<% include /header %>

<div id="commute-menu">
  <div class="container-fluid">
<!--     <a href="/map">Bus</a>
    <a href="/map">Bike</a>
    <a href="/map">Bus</a>
    <a href="/map">Walk</a> -->
    <p class="">1100 2nd Avenue #500, Seattle, WA 98101</p>
  </div>
</div>

<div class="container col-sm-6" id="commute-options">

  <h4>Summary</h4>

  <div class="row">
    <div class="col-sm-6">
      <span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-car fa-stack-1x fa-inverse"></i></span>
      Bus
      <p>Cost: $$$</p>
      <p>Time: min</p>
    </div>

    <div class="col-sm-6">
      <span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-bicycle fa-stack-1x fa-inverse"></i></span>
      Bike
      <p>Cost: $$$</p>
      <p>Time: min</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-bus fa-stack-1x fa-inverse"></i></span>
      Bus
      <p>Cost: $$$</p>
      <p>Time: min</p>
    </div>

    <div class="col-sm-6">
      <span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-male fa-stack-1x fa-inverse"></i></span>
      Walk
      <p>Cost: $$$</p>
      <p>Time: min</p>
    </div>
  </div>

</div>

<div class="container-fluid col-sm-6" id="commute-map">
<!--   <span id="logo-overlay" class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-car fa-stack-1x fa-inverse"></i></span>
 -->
  <div class="" style="background-color: grey; height: 100%;">
  </div>
</div>





<% include /footer %>
